p, a {
  font-size: 110%;
}

#typed {
  font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
  font-size: 70%;
  color: rgba(220, 220, 220);
}

.footerIcons {
  position: fixed;
  bottom: 20px;
  right: 60px;
}

.footerIcons .fa-icon {
  color: rgb(157, 157, 157);
  font-size: 60px;
  margin-left: 40px;
} 
.footerIcons .fa-icon:hover {
  color: white;
}

.txt-type > .cursor {
  border-right: 0.2rem solid #777;
}